:root {
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color :#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --gray-color:#888;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
a {
    text-decoration: none;
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
}
@media (max-width:767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar ul li a i{
        font-size: 13px;
    }
}



@media (min-width:768px) {
    .sidebar > h3  {
        margin-bottom: 50px;        
    }
    .sidebar > ::before,
    .sidebar > ::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
    .sidebar > h3::before  {
        height: 2px;
        width: 80px;
        bottom: -20px;
    }
    .sidebar > h3::after  {
        width: 12px;
        height: 12px;
        bottom: -29px;
        border: 4px solid white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}


.sidebar ul li a{
    margin-bottom: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.sidebar ul li a:hover ,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li span {
    font-size: 14px;
    margin-left: 10px;
}
/* End Sidebar */
/* Start Content Head */
.content {
    overflow: hidden;
}
.head .search::before {
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    color: var(--gray-color);
    font-size: 14px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.head .search input {
    margin-left: 5px;
    padding-left: 30px;
    font-size: 14px;
    width: 160px;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
}
.head .search input:focus {
    width: 200px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notification::before{
    content: "";
    position: absolute;
    background-color: var(--red-color);
    width: 10px;
    height: 10px;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before, 
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
}
.page h1::before {
    background-color: white;
    width: 120px;
}
.page h1::after {
    background-color: black;
    width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill , minmax(450px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px; 
    }
}
/* End Content Head */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
} 
.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 5px #ccc;
    margin-left: 20px;
    margin-top: -32px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome .visit {
    margin: 0 15px 15px auto;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
} 
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* End Welcome Widget */
/* Start Draft Quick Widget */
.quick-draft textarea{
    resize: none;
    min-height: 180px;
} 
.quick-draft .save{
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
} 
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* End Draft Quick Widget */
/* Start Target  */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details {
    flex: 1;
}
.targets .details .progress{
    height: 4px;
}
.targets .details .progress > span {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.targets .details .progress > span span{
    position: absolute;
    bottom: 16px;
    right: -16px;
    padding: 2px 5px;
    color: white;
    font-size: 13px;
}
.targets .details .progress > span span::after{
    content: "";
    position: absolute;
    border: 5px solid transparent;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
    border-top-color:var(--blue-color) ;
}
.blue .icon ,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.targets .details .progress > .orange span::after {
    border-top-color:var(--orange-color) ;
}
.orange .icon ,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.targets .details .progress > .green span::after {
    border-top-color:var(--green-color) ;
}
.green .icon ,
.green .progress {
    background-color: rgb(34 196 94 / 20%);
}
/* End Target  */
/* Start Tickets */
.tickets .box {
    width: calc(50% - 10px);
}
@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End Tickets */
/* Start Latest News */
.latest-news .news-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
    width: 100px;
    margin-right: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.latest-news .news-row .info {
    flex-grow: 1;
}
.latest-news .news-row .info h3 {
    font-size: 16px;
}
@media (max-width:767px) {
    .latest-news .news-row {
        display: block;
    }
    .latest-news .news-row .label{
        margin: 10px auto;
        display: block;
        width: fit-content;
    }
}
/* End Latest News */
/* Start Tasks */
.tasks .task-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.tasks .done {
    opacity: 0.3;
}
.tasks .done .info {
    text-decoration: line-through;
}
.tasks .task-row .info {
    flex-grow: 1;
}
.tasks .task-row .delete {
    cursor: pointer;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}
.tasks .task-row .delete:hover {
    color: var(--red-color);
}
@media (max-width:767px) {
    .tasks {
        text-align: center;
    }
    .tasks .task-row {
        display: block;
        text-align: center;
    }
    .tasks .task-row .info {
        margin-bottom: 20px;
    }
}
/* End Tasks */
/* Start Latest Uploads */

.latest-uploads li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.search-items,
.latest-uploads li .box .info span {
    font-weight: bold;
}
/* End  Latest Uploads */
/* Start Last Project */
.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-color: white;
    display: block;
    margin-right: 15px;
    z-index: 1;
    outline:  2px solid var(--blue-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.last-project ul .done::before {
    background-color: var(--blue-color);
}
.last-project ul .current::before {
    animation: change-color 0.8s infinite alternate ;
    -webkit-animation: change-color 0.8s infinite alternate ;
}
.last-project .lunch-icon {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 160px;
    opacity: 0.1;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.last-project:hover .lunch-icon {
    bottom: 100px;
    opacity: 0.5;
} 
/* End Last Project */
/* Start Reminders Widget */
.reminders ul li .key {
    width: 15px;
    height: 15px;
}
.reminders ul li > .blue {
    border-left: 1px solid var(--blue-color);
}
.reminders ul li > .green {
    border-left: 1px solid var(--green-color);
}
.reminders ul li > .orange {
    border-left: 1px solid var(--orange-color);
}
.reminders ul li > .red {
    border-left: 1px solid var(--red-color);
}
/* End Reminders Widget */
/* Start Latest Post */
.latest-post .box img {
    width: 48px;
    height: 48px;
}
.latest-post p {
    line-height: 1.8;
    border-top: 1px solid #eee;
    min-height: 140px;
    text-transform: capitalize;
}
.latest-post .footer {
    padding-top: 20px;
    border-top: 1px solid #eee;
}

/* End Latest Post */
/* Start Social Media Widget */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.social-media .box i:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter  a {
    background-color:#1da1f2 ;
}
.social-media .twitter  i {
    background-color:#1da1f2 ;
}
.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-media .facebook  a {
    background-color:#1877f2 ;
}
.social-media .facebook  i {
    background-color:#1877f2 ;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);;
    color: #ff0000;
}
.social-media .youtube  a {
    background-color:#ff0000 ;
}
.social-media .youtube  i {
    background-color:#ff0000 ;
}
.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .linkedin  a {
    background-color:#0077b5 ;
}
.social-media .linkedin  i {
    background-color:#0077b5 ;
}
/* End Social Media Widget */
/* Start Projects Table */
.projects .responsive-table {
    overflow-x: auto;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table td{
    padding: 15px;
}
.projects tbody td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.projects tbody tr:hover td {
    background-color: #faf7f7;
}
.projects table img {
    width: 32px ;
    height: 32px ;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.projects table img:not(:first-of-type) {
    margin-left: -20px;
}
.projects table tbody tr td:last-child {
    border-right: 1px solid #eee;
} 
.projects .label {
    font-size: 13px;
}
/* End Projects Table */
/* Start Settings */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    width: 24px;
    height: 24px;
    background-color: white;
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    left: 50px;
    color: var(--blue-color);
    content: "\f00c";
}
/* End Settings */
/* Start Site Control Widget */
.setting-page {
    grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
}
@media (max-width:767px) {
    .setting-page {
        grid-template-columns: minmax(100px , 1fr);
        margin-left:10px;
        margin-right:10px;
        gap:10px;
    }
}
.setting-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}
.setting-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}
.setting-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.setting-page .social-boxes input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
}
.setting-page .social-boxes > div:focus-within i {
    color: #000;
}
.setting-page :disabled {
    background-color: #f0f4f8;
    cursor: no-drop;
    color: #bbb;
}
.setting-page .sec-box:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.setting-page .sec-box {
    padding-bottom: 15px;
}
.setting-page .sec-box .button {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.setting-page .sec-box .button:hover {
    background-color: var(--blue-alt-color);
}
.widgets-control  .control input[type="checkbox"] {
    appearance: none;
    display: none;
}
.widgets-control  .control label {
    font-weight: 500;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control  .control label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 2px solid var(--gray-color);
    margin-top:-9px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.widgets-control  .control label:hover:before {
    border-color: var(--blue-alt-color);
}
.widgets-control  .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    font-size: 12px;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(0) rotate(1turn);
    -webkit-transform:scale(0) rotate(1turn);
    -moz-transform:scale(0) rotate(1turn);
    -ms-transform:scale(0) rotate(1turn);
    -o-transform:scale(0) rotate(1turn);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.widgets-control  .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.backup-control .date label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}
.backup-control .date label::before {
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--gray-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
} 
.backup-control  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;

}
.backup-control .date label::after,
.backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.backup-control .date label::after {
    left: 5px;
    margin-top: -6px;
    background-color: var(--blue-color);
    width: 12px;
    height: 12px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.backup-control .servers {
    border-top: 1px solid #eee;
    gap: 10px;
}
@media (max-width:767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}
.backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;
}
.backup-control .servers .server label{
    cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
    border-color:  var(--blue-color);
    color: var(--blue-color);
}
/* End Site Control Widget */
/* Start Profile Page */
@media (max-width:767px) {
    .profile-page .overview {
        flex-direction: column;
    }
    .profile-page .overview .avatar-box {
        width: 100%;
    }
}
.profile-page .avatar-box {
    width: 300px;
}
@media (min-width:768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}
.profile-page .avatar-box > img {
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .progress {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .avatar-box .progress span {
    position: absolute;
    height: 100%;
    background-color: var(--blue-color);
    left: 0;
    top: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}
@media (min-width:768px) {
    .profile-page .info-box .box > div {
        min-width: 250px;
    }
}
.profile-page .info-box .box > div {
    padding: 10px 0 0;
}

.profile-page .info-box .box h4 {
    font-weight: normal;
}
@media (max-width:767px) {
    .profile-page .info-box .box > div .toggle-switch{
        margin: auto;
    }
    .profile-page .info-box .box > div {
        width: 100%;
    }
}
.profile-page .info-box .box > div .toggle-switch {
    height: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
.profile-page .info-box .box > div .toggle-switch::before {
    font-size: 8px;
    width: 12px;
    height: 12px;
}
.profile-page .info-box .box > div .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px;
}
@media (max-width:767px) {
    .profile-page .other-data {
        flex-direction: column;
    }

}
/* .profile-page .other-data {

} */
.profile-page .skills-card {
    flex-grow: 1;
}
.profile-page .skills-card ul li {
    padding: 25px 0;
}
.profile-page .skills-card ul li span {
    font-weight: normal;
}
.profile-page .skills-card ul li span:not(:last-child){
    margin-right: 5px;
}
.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
} 
.profile-page .activities {
    flex-grow: 2;
}
@media (max-width:767px) {
    .profile-page .activities .activity {
        flex-direction: column;
    }
    /* .profile-page .activities .activity .info > div:last-child span:first-child {
        text-align: left;
    }
    .profile-page .activities .activity .info > div:last-child span:last-child {
        text-align: right;
    } */
    /* .profile-page .activities .activity .info span {
        display: block;
    } */
    .profile-page .activities .activity img {
        margin-bottom: 15px;
    }
    .profile-page .activities .activity .date {
        margin-top: 15px;
    }

}
.profile-page .activities .activity  > div span:first-child {
    display: block;
}
@media (min-width:768px) {
    .profile-page .activities .activity .date {
        margin-left: auto;
        text-align: right;
    }
    .profile-page .activities .activity img {
        margin-right: 10px;
    }
}
.profile-page .activities .activity:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.profile-page .activities .activity img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End Profile Page */
/* Start Projects Page */
.projects-page {
    grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
}
@media (max-width:767px) {
    .projects-page {
        grid-template-columns: minmax(200px , 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4 {
    font-weight: normal;
}
.projects-page .project .team {
    position: relative;
    min-height: 80px;
}
.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
    left: 25px;
}
.projects-page .project .team a:nth-child(3) {
    left: 50px;
}
.projects-page .project .team a:nth-child(4) {
    left: 75px;
}
.projects-page .project .team a:nth-child(5) {
    left: 100px;
}
.projects-page .project .team a:hover {
    z-index: 1000;
}
.projects-page .project .team img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* .projects-page .project > div:not(:last-child) {
    border-bottom: 1px solid #eee;
} */
.projects-page .project  .techs {
    justify-content: flex-end;
    padding-top:15px;
    margin-top:15px;
    border-top: 1px solid #eee;
}
.projects-page .project .techs  span {
    margin-left: 5px;
    width: fit-content;
}
@media (max-width:767px) {
    .projects-page .project .techs  {
        flex-direction: column;

    }
    .projects-page .project .techs  span:not(:last-child) {
        margin-bottom: 15px;
    }
}
.projects-page .project .info {
    padding-top:15px;
    margin-top:15px;
    border-top: 1px solid #eee;
}
@media (max-width:767px) {
    .projects-page .project .info {
        flex-direction: column;
    }
    .projects-page .project .progress {
        margin-bottom: 15px;
    }
}
.projects-page .project .progress {
    width: 280px;
    height: 8px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.projects-page .project .progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End Projects Page */
/* Start Courses page */
.courses-page {
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}
@media (max-width:767px) {
    .courses-page {
        grid-template-columns: minmax(200px , 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    max-width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.courses-page .course:hover:nth-child(4) .cover,
.courses-page .course:hover:last-child .cover {
    filter:saturate(0.5);
    -webkit-filter:saturate(0.5);
}
.courses-page .course:hover:not(:nth-child(4) , :last-child) .cover {
    filter: invert(1);
    -webkit-filter: invert(1);
}
.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}
.courses-page .course .info {
    border-top: 1px solid #eee ;
    font-size: 13px;
}
.courses-page .course .info .title {
    position: absolute;
    left: 50%;
    top: -11.5px;
    font-size: 13px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* End Courses page */
/* Start Friends Page */
.friends-page {
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}
@media (max-width:767px) {
    .friends-page {
        grid-template-columns:  minmax(200px , 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.friends-page .contact {
    position: absolute;
    top: 10px;
    left: 10px;
}
.friends-page .contact i {
    background-color: #eee;
    padding: 10px;
    font-size: 13px;
    color: #666;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.friends-page .friend .icons .vip{
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.3;
    font-size: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/* End Friends Page */
/* Start Files Page */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}
@media (max-width:767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-stats {
    min-width: 260px;
}
.files-page .files-stats .icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.files-page .files-stats .size{
    margin-left: auto;
}
.files-page .files-stats .blue{
    background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green{
    background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red{
    background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange{
    background-color:rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
    animation: go-up 0.8s infinite;
    -webkit-animation: go-up 0.8s infinite;
}
.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
}
.files-page .files-content .file i {
    color: var(--blue-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.files-page .files-content .file:hover i {
    color: var(--blue-alt-color);
}
.files-page .files-content .file img {
    width: 64px;
    height: 64px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.files-page .files-content .file:hover img {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.files-page .files-content .file .info {
    border-top: 1px solid #eee;
}
/* End Files Page */
/* Start Plans Page  */
.plans-page {
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr ));
}
@media (max-width : 767px) {
    .plans-page {
        grid-template-columns: minmax(250px , 1fr );
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
    
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}
.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}
.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.plans-page .plan ul li:hover {
    background-color: #faf7f7;
} 
.plans-page .plan ul li .yes{
    color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes , .help ) {
    color: var(--red-color);
}
.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right:5px;
}
.plans-page .plan ul li i:last-child {
    margin-left: auto;
    cursor: pointer;
}

/* End Plans Page  */
/* Start Animation */
@keyframes change-color {
    from{
        background-color: var(--blue-color);
    }
    to{
        background-color: white;
    }
}
@keyframes go-up {
    0%,100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
}

}
/* End Animation */
